body{
    background-color: black;
}

section{
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    // background-color: #444;
    background-color: black;
    justify-content: space-evenly;
}

h1{
    margin-top: 2%;
    color: #8f3e9b;
    font-size: 30px;
}

h3{
    color: #dbbaff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    color: white;
}

mat-panel-title{
    color: #dbbaff;
    font-size: large;
}

// mat-panel-title img{
//     width: 50px;
//     height: 50px;
// }

mat-panel-description{
    color: rgb(40, 40, 40);
}

#perfilAccor{
    background-color: rgb(129, 129, 131); 
}

hr{
    color: #dbbaff;
}

a{
    text-decoration: none;
    color: white;
}

.example-card {
    max-width: 800px;
    // margin-bottom: 10%;
    
}

#imgCentro{
    display: flex;
    justify-content: center;
    
}

