mat-toolbar{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

div:first-child img{
    width: auto;
    max-height: 100px;
}

#navPrincipal{
    width: 50vw;
    max-width: 60%;
    align-content: space-between;
    // margin-right: 1%;
       
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    display: flex;
    justify-content: space-between;
    margin: 1%
}

nav ul li a{
    text-decoration: none;
    color: #dbbaff;
    font-size:medium;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li a:hover{
    color: #8f3e9b !important;
    font-size:larger !important;
}

#header_login{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: #dbbaff;
    align-items: flex-end;
}

#header_login img{
    width: auto;
    height: 150px;
}

#nav_login{
    width: 35vw;
    max-width: 60%;
    display: flex;
    align-items: center;
    align-content: center;
    // margin-right: 1%;   
    
}

mat-expansion-panel{
    background-color: black; 
}


#menu{
    color: #dbbaff;
}

span{
    color: #dbbaff;
}

// Tablet ------------------------------------------------------------------
@media(max-width: 864px){

    mat-toolbar{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 18vw;
        background-color: black;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        // align-content: center;
    }



    #navPrincipal{
        width: 57vw;
        max-width: 60%;
        align-content: space-between;
        // margin-right: 1%;
        flex-wrap: wrap;   
    }

    nav ul{
        list-style: none;
        display: flex;
        justify-content:space-between;
        // gap: 5px;
        flex-wrap: wrap;
    }

    nav ul li{
        display: flex;
        justify-content: space-between;
        margin: 1%
    }

    nav ul li a{
        text-decoration: none;
        color: #dbbaff;
        font-size:medium;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}
//  Mobile -----------------------------------------------------------------------
@media(max-width: 600px){

    mat-toolbar{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
    }

    // .mat-content{
    //     display: flex;
    //     flex: 1;
    //     overflow: hidden;
    //     justify-content: center;
    //     flex-direction: row;
    // }

    .listNav{
        display: flex;
        width: auto;
        height: auto;
        display: flex;
        
        text-align: center;
        
    }

    div:first-child img{
        display: none;
    }

    #navPrincipal{
        display: flex;
        width: 60vw;
        max-width: 60%;
        align-content: space-between;
        // margin-right: 1%;
        flex-wrap: wrap; 
        z-index: 2;
        justify-content: center; 
    }

    nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    nav ul li{
        display: flex;
        justify-content: space-between;
        margin: 1%
    }

    nav ul li a{
        text-decoration: none;
        color: #dbbaff;
        font-size:medium;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #header_login{
        width: 100%;
        height: auto;
        display: flex;
        background-color: black;
        color: #dbbaff;
        flex-direction: column;
        align-items: center;
    }
    
    #header_login img{
        width: auto;
        height: 200px;
    }
    
    #nav_login{
        width: 35vw;
        max-width: 60%;
        display: flex;
        align-items: center;
        align-content: center;
        margin-right: 1%;   
        
    }


}
