<header *ngIf="router.routerState.snapshot.url == '/home' || router.routerState.snapshot.url == '/projetos' || router.routerState.snapshot.url == '/curriculo' 
    || router.routerState.snapshot.url == '/divina-fashion' || router.routerState.snapshot.url == '/jogo-advinha' || router.routerState.snapshot.url == '/sync-tur'
    || router.routerState.snapshot.url == '/locadora' || router.routerState.snapshot.url == '/loc-car' || router.routerState.snapshot.url == '/bolos-julia' 
    || router.routerState.snapshot.url == '/apresentacao' ">

    <div>
        <a routerLink="../home">
            <img src="../../assets/src img logo/logoFundoPreto.gif" alt="">
        </a>
    </div>

    <nav *ngIf="router.routerState.snapshot.url == '/home' || router.routerState.snapshot.url == '/projetos' || router.routerState.snapshot.url == '/curriculo' 
    || router.routerState.snapshot.url == '/divina-fashion' || router.routerState.snapshot.url == '/jogo-advinha' || router.routerState.snapshot.url == '/sync-tur'
    || router.routerState.snapshot.url == '/locadora' || router.routerState.snapshot.url == '/loc-car' || router.routerState.snapshot.url == '/bolos-julia'
    || router.routerState.snapshot.url == '/apresentacao' ">
        <ul>

            <li>
                <a routerLink="../home/">Home</a>
            </li>

            <li>
                <a routerLink="../projetos">Projetos</a>
            </li>

            <li>
                <a routerLink="../apresentacao">Apresentação</a>
            </li>

            <li>
                <a routerLink="../curriculo">Currículo</a>
            </li>

            <li>
                <a routerLink="../login/" (click)="Sair()">Sair</a>
            </li>

        </ul>
    </nav>


    
</header>

<header id="header_login" *ngIf="router.routerState.snapshot.url == '/login'">

    <img src="../../assets/src img logo/logoFundoPreto.gif" alt="">

    <nav id="nav_login">
        <h1>Olá! vamos nos conhecer? <br> Meu nome é Rafael Gasparetto, e o seu?</h1>
    </nav>

</header>
