<header>

    <div>
        <img src="../../assets/src img logo/LogoProfisorio.gif" alt="">
    </div>

    <nav>
        <ul>

            <li>
                <a href="#">Home</a>
            </li>

            <li>
                <a href="#">Projetos</a>
            </li>

            <li>
                <a href="#">Apresentação</a>
            </li>

            <li>
                <a href="#">Currículo</a>
            </li>

            <li>
                <a href="#">Login</a>
            </li>

        </ul>
    </nav>
    
</header>
