<footer *ngIf=" router.routerState.snapshot.url == '/projetos' || router.routerState.snapshot.url == '/curriculo'
|| router.routerState.snapshot.url == '/divina-fashion' || router.routerState.snapshot.url == '/jogo-advinha' || router.routerState.snapshot.url == '/sync-tur'
|| router.routerState.snapshot.url == '/locadora' || router.routerState.snapshot.url == '/loc-car' || router.routerState.snapshot.url == '/bolos-julia'
|| router.routerState.snapshot.url == '/apresentacao' ">

    <!-- <div id="divIdioma">
        
        <button class="idioma" (click)="idiomaPortugues()">
            <img src="../../assets/img-home/FlagBrasil.png" alt="Clique aqui para ver o portfolio me portugues">
        </button>
    
        <button class="idioma" (click)="idiomaIngles()" >
            <img src="../../assets//img-home/FlagEUA.png" alt="Clique aqui para ver o portfolio em Inglês">
        </button>
        
    </div> -->

    <div>
        <a href="https://www.linkedin.com/in/rafael-gasparetto/">
        <img src="assets/src img logo/Linkedin.jpg" alt="Clique aqui para conhecer meu Linkedin">
        </a>

        <a href="https://github.com/Rafaelgasparetto">
        <img src="assets/src img logo/gitHub.jpg" alt="Clique aqui para conhecer meu GitHub">
        </a>

        <a href="https://wa.me/5511964649926">
            <img src="assets/src img logo/whatsApp.png" alt="Clique aqui para falar comigo no WhatsApp">
        </a>

    </div>

</footer>

<footer id="footerLogin " *ngIf="router.routerState.snapshot.url == '/login'|| router.routerState.snapshot.url == '/home' "  >

    <!-- <div id="divIdioma">
        
        <button class="idioma" (click)="idiomaPortugues()">
            <img src="../../assets/img-home/FlagBrasil.png" alt="Clique aqui para ver o portfolio me portugues">
        </button>
    
        <button class="idioma" (click)="idiomaIngles()">
            <img src="../../assets//img-home/FlagEUA.png" alt="Clique aqui para ver o portfolio em Inglês">
        </button>
        
    </div> -->

    <div>
        <a href="https://www.linkedin.com/in/rafael-gasparetto/">
            <img src="assets/src img logo/Linkedin.jpg" alt="Clique aqui para conhecer meu Linkedin">
        </a>
        <a href="https://github.com/Rafaelgasparetto">
            <img src="assets/src img logo/gitHub.jpg" alt="Clique aqui para conhecer meu GitHub">
        </a>
        <a href="https://wa.me/5511964649926">
           <img src="assets/src img logo/whatsApp.png" alt="Clique aqui para falar comigo no WhatsApp"> 
        </a>
    </div>

    


</footer>
