<footer *ngIf="router.routerState.snapshot.url == '/home' || router.routerState.snapshot.url == '/projetos' || router.routerState.snapshot.url == '/curriculo'
|| router.routerState.snapshot.url == '/divina-fashion' || router.routerState.snapshot.url == '/jogo-advinha' || router.routerState.snapshot.url == '/sync-tur'
|| router.routerState.snapshot.url == '/locadora' || router.routerState.snapshot.url == '/loc-car' || router.routerState.snapshot.url == '/bolos-julia'
|| router.routerState.snapshot.url == '/apresentacao' ">

    <div >
        <a routerLink="../home">
            <img src="../../assets/src img logo/Logo.gif" alt="" >
        </a>
    </div>

    <div>
        <img src="../../assets/src img logo/logo linkedin.png" alt="">
        <img src="../../assets/src img logo/GitHub-Logo.png" alt="">
    </div>

</footer>

<footer *ngIf="router.routerState.snapshot.url == '/login' " id="footerLogin">

    <div>
        <img src="../../assets/src img logo/logo linkedin.png" alt="">
        <img src="../../assets/src img logo/GitHub-Logo.png" alt="">
    </div>

</footer>
