
<section>


    <h1>Projeto Virtual Store Angular</h1>

  <article>
    <p>Este projeto foi desenvolvido em angular para praticar CRUD <br></p> 
    <ul>
      <li>CRUD
        <ul>
            <li>
                Create
            </li>
            <li>
                Read
            </li>
            <li>
                Update
            </li>
            <li>
                Delete
            </li>
        </ul>
      </li>
    </ul>  
  </article>


  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Virtual Store</mat-card-title>
        <mat-card-subtitle>Página Home</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto VirtualStore/Home.png" alt="Imagem da página home">
      <mat-card-content>
        <p>
          Página home do projeto.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Virtual Store</mat-card-title>
          <mat-card-subtitle>Página Produtos (Read produtos)</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto VirtualStore/ProdutosComponent.png" alt="Imagem da página dos produtos">
        <mat-card-content>
          <p>
            Página da store com uma tabela de produtos de um .json.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Virtual Store</mat-card-title>
          <mat-card-subtitle>Create component</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto VirtualStore/CreateComponent.png" alt="Imagem cadastrando novo produto">
        <mat-card-content>
          <p>
            CRUD - CREATE.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Virtual Store</mat-card-title>
          <mat-card-subtitle>Read component</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto VirtualStore/CreateComponentAtualizado.png" alt="Imagem produto criado">
        <mat-card-content>
          <p>
            CRUD - Read - Atualizando lista de produtos assim que cria um novo produto.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Virtual Store</mat-card-title>
          <mat-card-subtitle>Update component</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto VirtualStore/UpdateComponent.png" alt="Imagem de alteração de um item">
        <mat-card-content>
          <p>
            CRUD - Update - Fazendo uma alteração no item
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Virtual Store</mat-card-title>
          <mat-card-subtitle>Read component</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto VirtualStore/UpdateComponentAtualizado.png" alt="Imagem mostrando o item atualizado">
        <mat-card-content>
          <p>
            CRUD - Read - Atualizando lista de produtos assim que altera um produto. 
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Virtual Store</mat-card-title>
          <mat-card-subtitle>Delete component</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto VirtualStore/DeleteComponent.png" alt="Imagem de uma exclução de um produto">
        <mat-card-content>
          <p>
            CRUD - Delete - Excluindo um produto. 
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Virtual Store</mat-card-title>
          <mat-card-subtitle>Read component</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto VirtualStore/DeleteComponentAtualizado.png" alt="Imagem da tabela sem o item que foi deletado">
        <mat-card-content>
          <p>
            CRUD - Read - Fazendo a leitura já com o produto deletado. 
          </p>
        </mat-card-content>
      </mat-card>

  </div>

  <div class="back-to-top" href="#" (click)="irAoTopo()" ></div> 

</section>
