<section>

  <h1>Projeto Locadora Filmes Collection</h1>

  <article>
    <p>Este projeto foi desenvolvido em um curso de formação angular para melhorar a habilidade com: <br></p>  
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Responsividade
        <ul>
          <li>Desktop</li>
          <li>Tablet</li>
          <li>Mobile</li> 
        </ul>
      </li>
    </ul>  
  </article>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina Home</mat-card-title>
        <mat-card-subtitle>Projeto Filme Collection</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Locadora/p_Home.png" alt="Imagem pagina home">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina Cadastro de usuários</mat-card-title>
        <mat-card-subtitle>Projeto Filme Collection</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Locadora/p_Cadastro.png" alt="Imagem pagina cadastro de usúarios">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Dialog do editar usuários</mat-card-title>
        <mat-card-subtitle>Projeto Filme Collection</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Locadora/d_Cadastro.png" alt="Imagem do dialog editar usuários">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina cadastro de gêneros</mat-card-title>
        <mat-card-subtitle>Projeto Filme Collection</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Locadora/p_Generos.png" alt="Imagem da pagina cadastrar gêneros dos filmes">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Dialog editar gêneros</mat-card-title>
        <mat-card-subtitle>Projeto Filme Collection</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Locadora/d_generos.png" alt="Dialog editar gêneros">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina de filmes</mat-card-title>
        <mat-card-subtitle>Projeto Filme Collection</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Locadora/p_Filmes.png" alt="Imagem da pagina filmes">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina de filmes com select gêneros</mat-card-title>
        <mat-card-subtitle>Projeto Filme Collection</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Locadora/p_filmes_select.png" alt="Imagem da pagina filmes com o select gêneros">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina de filmes</mat-card-title>
        <mat-card-subtitle>Projeto Filme Collection</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Locadora/d_Filmes_editar.png" alt="Imagem da pagina filmes">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>


  <div class="back-to-top" href="#" (click)="irAoTopo()" ></div>

</section>


