<main>
    <div id="container">
        

        <mat-card>

            <div  class="example-input-wrapper">
                <label class="hide" for="duration">Animation duration:</label>
                <input class="hide" id="duration" value="2000" type="number" min="0" step="100" #duration>
            </div>
              
            <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="duration.value">
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup" >
                    <ng-template matStepLabel>Meu nome é:</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="Ex: Joao" formControlName="nome" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Como você se indentifica?</ng-template>
                    <mat-form-field>
                        <input class="hide" matInput  >
                        <mat-radio-group aria-label="Select an option" formControlName="sexo" required>
                            <mat-radio-button value="homem" checked="false">Homem</mat-radio-button>
                            <mat-radio-button value="mulher" checked="false">Mulher</mat-radio-button>
                            <mat-radio-button value="semSexoDefinido" checked="true" >Não quero me indentificar</mat-radio-button>
                        </mat-radio-group>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Finalizando</ng-template>
                    <p>Obrigado por se indentificar.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button type="submit" [disabled]="!firstFormGroup.valid" [disabled]="!secondFormGroup.valid" (click)="salvarDadosUsuario()">Ir ao portifolio</button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>

        </mat-card>
    </div>

    <div class="spinner" *ngIf="loading | async" >
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</main>
