<section>

    <h1>Esse Sou Eu :D</h1>

    <div id="foto">
        <img src="../../assets/img-home/foto apresentação.png" alt="">
    </div>

    <article>
        
        <p id="txtsubtitle">
            Bom vamos lá! voce esta curioso para me conhecer né? <br>
            Eu vou começar a te contar um pouco sobre minha vida e como cheguei até aqui <br>
        </p>

        <h3>Minha vida s2 e meus amores</h3>
        <mat-card class="txtSobre">
            <p>
                Prazer! eu me chamo Rafael Gasparetto sou solteiro aos olhos da lei porem sou muito bem casado entre eu a a Julia, mais de 10 anos juntos nessa caminhada kkk, temos dois filhos pets (gatos), a pequenina Lua e o gordinho Ozzy. <br>
                Moramos atualmente em um apartamento no centro de Osasco, São Paulo. Uns 200 metros da estação de trem Osasco, esse foi um dos motivos da escolha do apartamento.
            </p>
            <p>
                Somos um casal um pouco caseiro, adoramos comer coisas diferente e gostosa kkkk, gostamos de assistir streaming Netflix, HBOMAX, AmazonPrime e etc.. quando saimos, geralmente gostamos de viajar juntos, é uma experiencia sempre positiva pra gente.
            </p>
            <b>
                Eu não poderia deixar de citar eles esse projeto pois eles me dão forças para continuar seguindo e principalmente para a Julia que sempre me apoiou sempre s2.
            </b>
        </mat-card>


        <h3>Um Pouco mais sobre mim</h3>
        <mat-card class="txtSobre">
            <p>
                Eu gosto bastante de jogar jogos principalmente RPG online, gosto de cozinhar porem é um pouco dificil praticar isso dia a dia com a correria diaria, tabalho e estudo, tarefas domesticas e etc... <br>
            </p>
            <p>
                Para falar a verdade ultimamente estou apenas estudando e trabalhando, quando voce está em transição de carreira como atualmente eu estou, é dificil você ter um tempo disponivel para hoobys. È necessario você correr atras do seu sonho e deixar para depois o hooby. <br>
            </p>
            <p>
                Eu gosto bastante de assistir documentario sobre universo/natureza, sou curioso para saber como as coisas funcionam, desde como funciona um buraco negro e até como arrumar uma tomada residencial kkkk, esse é um dos motivos de eu escolher a area de TI, curiosidade / gostar de aprender e estudar (pelomenos esse é um hobby que eu consigo praticar hoje em dia na area de TI). <br>

            </p>
        </mat-card>


        <h3>Meu perfil profissional</h3>
        <mat-card class="txtSobre">
            <p>
                Sou uma Pessoa que é organizada com horario de trabalho, gosto muito de trabalhar em equipe ajudar os companheiros de trabalho, procuro sempre fazer coisas alem do meu trabalho se for para ajudar a minha equipe. <br>
            </p>

            <p>
                Sempre trabalhei na area comercial e ali aprendi que o resultado chega muito mais facil se todos nós caminharmos um do lado do outro na mesma direção, naturalmente o objetivo vai ser alcançado =) <br>
            </p>

            <p> 
                Sou uma pessoa que lida bem com imprevisto, gosto muito de receber feedback para me aperfeiçoar cada vez mais, feedback é uma otima oportunidade de crescimento pessoal ou profissional. <br>
                No final desta pagina tem meu e-mail, caso voce quiser me dar um feedback sobre este portfolio ou qualquer outro projeto fique a vontade! eu ficarei muito feliz! opniões sempre são bem vindas, é nisso que eu sempre acreditei ;D
            </p>
        </mat-card>

        <h3>Minha Historia</h3>
        <mat-card class="txtSobre">
            <p>
                Eu cresci na epoca que a internet/tecnologia estava começando a ficar acessivel a população, lembro que tinha que ficar acordado ate as 00:00 para conseguirmos usar a internet que era a discada e era mais barato este horario kkkk
            </p>

            <p>
                Eu era uma criança curiosa e ficava navegando pela internet e não vou mentir jogando (muito tambem kkkk), foi ai que me dispertou minha paixão por tecnologia.
                Eu deixei de lado esse sonho um tempo, pois como meu pai tinha uma distribuidora da Danone eu foquei em ajudar ele e fui cair na area comercial, fazia bastante coisas para ele no escritorio antes de tirar a habilitação de motorista como: tirando notas para os clientes, mandando Fax, contando o estoque, ajudando ele nas entregas dos produtos.
            </p>

            <p>
                Depois com habilitação eu fui ajudar ele com entregas para os clientes e assim passou anos, até meu pai não conseguir mais ir para frente com a distribuidora...Quando ele fechou as portas eu fui trabalhar em uma outra distribuidora do mesmo produto só que eu achei que seria a minha hora de seguir meu sonho com TI.
            </p>

            <p>
                Me matriculei na Fatec de Osasco em redes, fiz o vestibular e passei em 13° lugar, nesse tempo estava vendo outras tecnologias e acabei desistindo da Fatec mais pelo curso em si, eu desisti de investir em redes e foquei na parte de desenvolvimento.
            </p>

            <p>
                Foi então que eu me matriculei em um curso de Analise de sistemas na UMC e passei a estudar enquanto estava na distribuidora como promotor de vendas, passaram-se 3 anos dificeis não por causa da faculdade, mais sim porque foi bem na epoca do Impeachment do governo Dilma e eu não consegui estagiar por conta da crise, então infelizmente não consegui estagio enquanto estava na faculdade, isso me prejudicou muito pela famosa primeira vaga de emprego na area de TI.
            </p>

            <p>
                Quando terminei a faculdade pedi para a empresa me mandar embora para eu ir atras da vaga, foi então ai que eu fiquei 2 anos desempregado tentando achar vaga na area de TI, enquanto estava desempregado estava estudando, fiz cursos de java back-end na Faculdade Impacta na paulista, fiz cursos de plataformas onlines, fiz alguns trabalhos por fora para pagar contas e fui me virando como pude, eu tinha propostas para entrar na area comercial ou até voltar para o antigo emprego, não aceitava pois acreditava que uma hora iria chegar.
            </p>

            <p>
                passou-se 2 anos e a empresa onde estou atualmente me mandou uma proposta, acabei aceitando na area comercial sendo promotor da Unilever, porem ainda acredito que uma hora minha chance vai chegar, se não for em uma empresa de TI vai ser dentro da Unilever mesmo, porque eu sinto que meu sonho na area de TI vai chegar e estarei preparado para ela :D
            </p>

            <b>
                Desculpe o textão, isso é só um resumo da minha caminhada até aqui kkkk 
            </b> 
        </mat-card>

    </article>

    <h3>Gostaria de deixar um feedBack?</h3>

    <div id="contato">
        <h2>Meu contato:</h2>
        <p>Celular / WhatsApp: (11) 964649926</p>
        <p>E-mail: rflk.89@gmail.com</p>
    </div>






    <!-- <form >
        <div class="formulario">

            <mat-form-field class="example-full-width">
                <mat-label for="">Nome:</mat-label>
                <input matInput type="text">
                <mat-error>Obrigatorio</mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label for="">FeedBack:</mat-label>
                <textarea matInput></textarea>
                <mat-error>Obrigatorio</mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary">Enviar</button>

        </div>
    </form> -->


    <div class="back-to-top" href="#" (click)="irAoTopo()" ></div>



</section>
