<section>

    <h1>Quem sou eu</h1>

    <div id="foto">
        <img src="assets/img-home/foto apresentação.png" alt="Minha foto">
    </div>

    <article>
        
        <!-- <p id="txtsubtitle">
            Eu me chamo Rafael Gasparetto.
        </p> -->

        <!-- <h3>Quem Sou</h3> -->

        <mat-card class="txtSobre" >
            <p> 
                Sou Rafael Gasparetto, tenho 33 anos e moro na zone oeste de São Paulo. <br>
                Sou uma pessoa caseira, que gosta de jogos online, cozinhar e assistir documentários. <br>
                Atualmente estou trabalhando na parte comercial da Unilever Brasil, e estou em transição de 
                carreira. <br>
                Sou formado em Análise e Desenvolvimento de Sistemas pela UMC. 
            </p>
        </mat-card>

        <h3>Meu perfil profissional</h3>

        <mat-card class="txtSobre">
            <p>
                Sou uma pessoa organizada com horário de trabalho, gosto muito de trabalhar em equipe, pois assim eu sinto que ajudo e aprendo com colegas de trabalho.
            </p>

            <p>
                Como tenho grande experiência na área comercial, aprendi que o resultado é alcançado mais facilmente quando a equipe caminha junto na mesma direção. Por isso vejo a colaboração em equipe sempre como algo positivo. <br>
            </p>

            <p> 
                Sou uma pessoa que lida bem com imprevistos e que gosto muito de receber feedbacks. Vejo feedback como uma ótima oportunidade de crescimento pessoal e profissional.
            </p>
        </mat-card>

        <h3>Transição de carreira</h3>

        <mat-card class="txtSobre" >
            <p>
                Grande parte da minha vida foi trabalhando na área comercial. Com isso, aprendi a ter um ótimo relacionamento com clientes, compreender as dificuldades com o objetivo de guiá-los pela melhor jornada de compra possível, lidei com negociações, imprevistos, aprendi a ter uma boa organização, trabalhar com tempo e prazos, trabalhar em equipe para alcançar bons resultados, treinar novos funcionários no ponto de vendas etc.
            </p>

            <p>
                Atualmente estou focado na área de desenvolvimento, e esse portfolio é um projeto que estou fazendo para melhorar a visualização dos projetos anteriores e projetos futuros. <br>
                Além da faculdade de Análise e Desenvolvimento de Sistemas, fiz um curso de Java back-end e, na sequência, fiz um curso de formação Angular. Aliás este portifolio foi feito em Angular.
            </p>

        </mat-card>

        <h3>Minha projeção futura / Objetivo</h3>

        <mat-card class="txtSobre"> 

            <p>
                Minha intenção é que, esse portfolio e com os cursos que faço, eu consiga me desenvolver e aprimorar diariamente. 
            </p>

            <p>
                Meu maior objetivo é conseguir uma vaga na área de desenvolvimento. <br>
                Além dos cursos que realizei, atualmente estou fazendo um curso de formação fullstack de 
                React. E conforme for concluindo, vou alimentar esse portfolio com os novos projetos 
                realizados.
            </p>

        </mat-card>

        <h3>Currículo</h3>

        <mat-card class="txtSobre"> 

            <p>
                Na categoria Currículo do site, você poderá conferir mais detalhadamente as minhas experiências, cursos e trajetória. Também é possível baixar o currículo em PDF.
            </p>

        </mat-card>


        <!-- <h3>Um pouco mais sobre mim</h3>
        <mat-card class="txtSobre">
            <p>
                Eu gosto bastante de jogos online, como RPG. Gosto de cozinhar e aprender receitas novas, o que nem sempre é fácil, dada a rotina corrida com estudos, trabalhos e cuidados com a casa.  <br>
            </p>
            <p>
                Sendo bem sincero, ultimamente meu maior foco, além do trabalho, tem sido os estudos, porque quando se está em transição de carreira, como atualmente estou, fica difícil ter tempo disponível para hobbies. É preciso se abdicar de algumas coisas para correr atrás dos sonhos.  <br>
            </p>
            <p>
                Outra coisa que gosto bastante e não poderia deixar de fora, é assistir documentários com as temáticas de história, universo e natureza. Pois sempre fui muito curioso para saber sobre como as coisas funcionam, desde um buraco negro até em como consertar uma tomada residencial. E ouso a dizer que meu gosto por TI veio daí, dessa curiosidade sobre as coisas, por gostar de estudar e aprender sobre o funcionamento de tudo.  <br>
            </p>
        </mat-card> -->

        <!-- <h3>Minha Historia</h3>
        <mat-card class="txtSobre">
            <p>
                Eu cresci na época que a internet/tecnologia estava começando a ficar acessível a população, lembro que tinha que ficar acordado ate as 00:00 para conseguirmos usar a internet que era a discada e era mais barato este horário hahaha
            </p>

            <p>
                Eu era uma criança curiosa e ficava navegando pela internet e não vou mentir jogando (muito hahaha), foi ai que me despertou minha paixão por tecnologia.
                Eu deixei de lado esse sonho um tempo, pois como meu pai tinha uma distribuidora da Danone eu foquei em ajudar ele e fui cair na área comercial, fazia bastante coisas para ele no escritório antes de tirar a habilitação de motorista como: tirando notas para os clientes, mandando Fax, contando o estoque, ajudando ele nas entregas dos produtos.
            </p>

            <p>
                Depois com habilitação eu fui ajudar ele com entregas para os clientes e assim passou anos, até meu pai não conseguir mais ir para frente com a distribuidora...Quando ele fechou as portas eu fui trabalhar em uma outra distribuidora do mesmo produto só que eu achei que seria a minha hora de seguir meu sonho com TI.
            </p>

            <p>
                Me matriculei na Fatec de Osasco em redes, fiz o vestibular e passei em 13° lugar, nesse tempo estava vendo outras tecnologias e acabei desistindo da Fatec mais pelo curso em si, eu desisti de investir em redes e foquei na parte de desenvolvimento.
            </p>

            <p>
                Foi então que eu me matriculei em um curso de Análise de sistemas na UMC e passei a estudar enquanto estava na distribuidora como promotor de vendas, passaram-se 3 anos difíceis não por causa da faculdade, mais sim porque foi bem na época do Impeachment do governo Dilma e eu não consegui estagiar por conta da crise, então infelizmente não consegui estagio enquanto estava na faculdade, isso me prejudicou muito pela famosa primeira vaga de emprego na área de TI.
            </p>

            <p>
                Quando terminei a faculdade pedi para a empresa me mandar embora para eu ir atrás da vaga, foi então ai que eu fiquei 2 anos desempregado tentando achar vaga na área de TI, enquanto estava desempregado estava estudando, fiz cursos de java back-end na Faculdade Impacta na paulista, fiz cursos de plataformas online, fiz alguns trabalhos por fora para pagar contas e fui me virando como pude, eu tinha propostas para entrar na área comercial ou até voltar para o antigo emprego, não aceitava pois acreditava que uma hora iria chegar.
            </p>

            <p>
                Passou-se 2 anos e a empresa onde estou atualmente me mandou uma proposta, acabei aceitando na área comercial sendo promotor da Unilever, porém ainda acredito que uma hora minha chance vai chegar, se não for em uma empresa de TI vai ser dentro da Unilever mesmo, porque eu sinto que meu sonho na área de TI vai chegar e estarei preparado para ela :D
            </p>

            <b>
                Desculpe o textão, isso é só um resumo da minha caminhada até aqui kkkk 
            </b> 
        </mat-card> -->

    </article>


    <div class="back-to-top" href="#" (click)="irAoTopo()" ></div>



</section>
