section{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    margin-top: 2%;
    color: #8f3e9b;
    font-family: 'Tilt Neon', cursive;
}

#txtsubtitle{
    color: rgb(99, 82, 118);
    text-align: center;
    margin-bottom: 3%;
    font-size: large;
}

h3{
    color: #dbbaff;
    font-size: large;
    margin-top: 2%;
    font-family: 'Tilt Neon', cursive;
}

.txtSobre{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.txtSobre p{
    color: #bcbcbc;
}

b{
    color: #311f44;
}


article{
    color: #bcbcbc;
}


#foto img{
    border-radius: 50%;
    margin-bottom: 3%;
}

form{
    background-color: gray;
    color: white;
}

mat-form-field{
    width: 500px;
}

.formulario{
    display: flex;
    flex-direction: column;
}

#contato{
    color: white;
}

#contato h2{
    color:#bcbcbc;
}


