<section>

    <h1>Quem sou eu</h1>

    <div id="foto">
        <img src="assets/img-home/foto apresentação.png" alt="Minha foto">
    </div>

    <article>
        
        <mat-card class="txtSobre" >
            <p> 
                Sou Rafael Gasparetto, tenho 33 anos e moro na zone oeste de São Paulo. <br>
                Sou uma pessoa caseira, que gosta de jogos online, cozinhar e assistir documentários. <br>
                Atualmente estou trabalhando na parte comercial da Unilever Brasil, e estou em transição de 
                carreira. <br>
                Sou formado em Análise e Desenvolvimento de Sistemas pela UMC. 
            </p>
        </mat-card>

        <h3>Meu perfil profissional</h3>

        <mat-card class="txtSobre">
            <p>
                Sou uma pessoa organizada com horário de trabalho, gosto muito de trabalhar em equipe, pois assim eu sinto que ajudo e aprendo com colegas de trabalho.
            </p>

            <p>
                Como tenho grande experiência na área comercial, aprendi que o resultado é alcançado mais facilmente quando a equipe caminha junto na mesma direção. Por isso vejo a colaboração em equipe sempre como algo positivo. <br>
            </p>

            <p> 
                Sou uma pessoa que lida bem com imprevistos e que gosto muito de receber feedbacks. Vejo feedback como uma ótima oportunidade de crescimento pessoal e profissional.
            </p>
        </mat-card>

        <h3>Transição de carreira</h3>

        <mat-card class="txtSobre" >
            <p>
                Grande parte da minha vida foi trabalhando na área comercial. Com isso, aprendi a ter um ótimo relacionamento com clientes, compreender as dificuldades com o objetivo de guiá-los pela melhor jornada de compra possível, lidei com negociações, imprevistos, aprendi a ter uma boa organização, trabalhar com tempo e prazos, trabalhar em equipe para alcançar bons resultados, treinar novos funcionários no ponto de vendas etc.
            </p>

            <p>
                Atualmente estou focado na área de desenvolvimento, e esse portfolio é um projeto que estou fazendo para melhorar a visualização dos projetos anteriores e projetos futuros. <br>
                Além da faculdade de Análise e Desenvolvimento de Sistemas, fiz um curso de Java back-end e, na sequência, fiz um curso de formação Angular. Aliás este portifolio foi feito em Angular.
            </p>

        </mat-card>

        <h3>Minha projeção futura / Objetivo</h3>

        <mat-card class="txtSobre"> 

            <p>
                Minha intenção é que, esse portfolio e com os cursos que faço, eu consiga me desenvolver e aprimorar diariamente. 
            </p>

            <p>
                Meu maior objetivo é conseguir uma vaga na área de desenvolvimento. <br>
                Além dos cursos que realizei, atualmente estou fazendo um curso de formação fullstack de 
                React. E conforme for concluindo, vou alimentar esse portfolio com os novos projetos 
                realizados.
            </p>

        </mat-card>

        <h3>Currículo</h3>

        <mat-card class="txtSobre"> 

            <p>
                Na categoria Currículo do site, você poderá conferir mais detalhadamente as minhas experiências, cursos e trajetória. Também é possível baixar o currículo em PDF.
            </p>

        </mat-card>


    </article>


    <div class="back-to-top" href="#" (click)="irAoTopo()" ></div>



</section>
