
<section>

  <h1>Projeto LocCar</h1>

  <article>
    <p>Este projeto foi desenvolvido em um curso de formação angular para melhorar a habilidade com: <br></p> 
    <ul>
      <li>HTML
        <ul>
          <li>*ngFor</li>
          <li>*ngIF</li>
        </ul>
      </li>

      <li>CSS
        <ul>
          <li>::ng-deep</li>
        </ul>
      </li>

      <li>TypeScript
        <ul>
          <li>Validators</li>
          <li>Routes</li>
          <li>Models</li>
          <li>Service</li>
          <li>CRUD
            <ul>
              <li>Create</li>
              <li>Read</li>
              <li>Update</li>
              <li>Delete</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>Angular
        <ul>
          <li>Angular material
            <ul>
              <li>Card</li>
              <li>Dialog</li>
              <li>Reactive forms</li>
              <li>Form field</li>
              <li>matInput</li>
              <li>mat-label</li>
              <li>mat-select</li>
              <li>Progress Spinner</li>
              <li>SnackBar</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>Swagger</li>
      <ul>
        <li> <a href="https://servidor-carros.herokuapp.com/api-docs/#/">Link da API aqui.</a> </li>
      </ul>

      <li>AWS Amazon
        <ul>
          <li>bucket</li>
          <li>S3</li>
        </ul>
      </li>

    </ul>  
  </article>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página Home</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Home.png" alt="Imagem da pagina home do projeto">
      <mat-card-content>
        <p>
          Página inicial do projeto de uma locadora de veículo. <br>
          Para a imagens não ficarem tão pequenas, eu cortei o footer das imagens.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página cadastrar usúario</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Cadastrar.png" alt="Imagem da pagina de cadastro do usúario do projeto">
      <mat-card-content>
        <p>
          Página de cadastro com Validators, e button disabled = !form.valid.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página Login</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Login.png" alt="Imagem da pagina login do projeto">
      <mat-card-content>
        <p>
          Depois que o usuário cadastra uma conta, é redirecionado para a página login para acessar o projeto.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página perfil usuário comum</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Perfil.png" alt="Imagem da pagina perfil do usúario comum">
      <mat-card-content>
        <p>
          Assim que o usuário faz o login é redirecionado para o perfil com os dados do cadastro. <br>
          O como podem ver o usuário pode atualizar os dados e excluir o proprio perfil se caso não tiver reservas de carro na plataforma.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página carros usúario comum</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Carros.png" alt="Imagem da pagina carros do usúario comum">
      <mat-card-content>
        <p>
          Página Carros, aqui o usuário pode reservar um carro, das categorias Popular e/ou Sedan e/ou Luxo.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Dialog reserva carro usuário comum</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/d_carros.png" alt="Imagem do dialog para reservar carro usúario comum">
      <mat-card-content>
        <p>
          Ao clicar na categorias que deseja o usuário irá ter um dialog para observar quantas portas o carro tem, quantas pessoas cabem no veículo e o nome da locadora do carro selecionado. <br> <br>
          Se caso o usuário escolher reservar o carro selecionado, o usuario vai ser direcionado irá para a parte de reservas para preencher data da reserva, a hora da retirada e a data de devolução.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página reserva usúario comum</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Reservas.png" alt="Imagem da pagina de carros reservados usúario comum">
      <mat-card-content>
        <p>
          Página reserva.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página reserva usuário comum</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Reservas_Reservados.png" alt="Imagem da pagina de carros reservados usúario comum">
      <mat-card-content>
        <p>
          Fiz um cadastro de um carro para melhorar a visualização. <br>
          Todos os carros cadastrados aparecem no campo Minhas reservas. <br>
          Cada card de carro cadastrado tem um botão editar reserva do carro e um botão excluir reserva do carro.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Dialog excluir reserva de carro usúario comum</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/d_Reservas_Reservados.png" alt="Imagem do dialog excluir reserva de carro usúario comum">
      <mat-card-content>
        <p>
          Cada card tem um dialog caso o usuário desejar excluir ou editar uma reserva ja cadastrada.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <article>
    <p>
      Aqui acaba o fluxo de um usuário comum da plataforma. <br>
      Apartir daqui as imagens irão ser de um usuário ADM é o mesmo fluxo porém tem algumas funcionalidades extra como voce pode ver logo abaixo: </p> 
  </article>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página perfil administrador</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/p_Perfil_adm.png" alt="Imagem da pagina perfil Administrador">
      <mat-card-content>
        <p>
          Em uma conta ADM é adicionada <b>Locadoras</b> na barra de navegação. <br>
          O perfil de um ADM lista todos os usuários cadastrados na plataforma. Caso o ADM quiser editar um usuário ele dá um click no card do usuário e os dados do usuário sobem para o input para serem atualizados. <br>
          O ADM pode também excluir um usuário clicando no botão excluir do card do usuário. <br>
          Se o ADM clicar no excluir vai abrir um dialog para ele ter certeza se deseja excluir o usuário.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página carros administrador</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/p_Carros_adm_completa.png" alt="Imagem da pagina carros Administrador">
      <mat-card-content>
        <p>
          Na página de carros de um ADM tem como o ADM cadastrar carros disponíveis nas locadoras, que aparecerão na página do usuário comum, para realizar a reserva. <br>
          Em cada card de carros cadastrados tem um botão de editar e excluir  .
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Dialog editar carro</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/d_Carros_Editar.png" alt="Imagem do dialog editar carro">
      <mat-card-content>
        <p>
          Ao clicar em editar um carro, um dialog aparece para a atualização do nome, tipo do carro (popular, sedan ou luxo), números de portas, capacidade de pessoas do carro e a locadora que o carro se encontra.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Dialog excluir carro</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/d_Carros_Excluir.png" alt="Imagem do dialog excluir carro">
      <mat-card-content>
        <p>
          Ao clicar em excluir em um carro selecionado, aparece um dialog com a mensagem se deseja realmente excluir o carro selecionado.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página reserva administrador</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/p_Reservas_adm.png" alt="Imagem da pagina reserva administrador">
      <mat-card-content>
        <p>
          Na página reserva de um ADM vai listar todos os carros que estão reservados, para atualizar alguma informação do veiculo o ADM clica no card da reserva e os dados vão para os inputs para serem atualizados. <br>
          O ADM tambem tem como excluir uma reserva cadastrada, mesmo procedimento..dialog e se realmente deseja excluir a reserva.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Página cadastrar / editar locadora de veículo</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/p_locadora.png" alt="Imagem da pagina Pagina cadastrar / editar locadora de veiculo">
      <mat-card-content>
        <p>
          Na página exclusiva de ADM locadora, o ADM é capaz de cadastrar uma nova locadora, editar uma existente ou excluir locadora. <br>
          Caso o ADM cadastrar uma locadora de veículo nova, vai aparecer no select da pagina carros, para cadastrar carros da nova locadora.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Dialog editar locadora de veiculo</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/d_Locadora.png" alt="Imagem do dialog editar locadora de veiculo">
      <mat-card-content>
        <p>
          Ao clicar em Editar de um card de uma locadora cadastrada, aparece um dialog para atualizar dados da locadora selecionada. <br>
          Aqui termina o fluxo de um ADM na plataforma.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Figma do projeto ADM</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/CARDSPROJETOS/FigmaLocCar.png" alt="Imagem do figma ADM do projeto ">
      <mat-card-content>
        <p>
          O projeto tem dois figma, um para usuário ADM e outro para usuário comum. <br>
          Usuário ADM - o layout do usuário ADM foi baseado neste Figma.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto LocCar</mat-card-title>
        <mat-card-subtitle>Figma do projeto Usuario</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/CARDSPROJETOS/FigmaLocCarUsuario.png" alt="Imagem do figma usuario do projeto">
      <mat-card-content>
        <p>
          Usuário comum - o layout do usuário comum foi baseado neste Figma.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="back-to-top" href="#" (click)="irAoTopo()" ></div>
    
</section>


