
<section>

    <h1>Projeto LocCar</h1>

    <article>
       <p>Este projeto foi desenvolvido em um curso de formação angular para melhorar a habilidade com: <br></p> 
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Responsividade
                <ul>
                    <li>Desktop</li>
                    <li>Tablet</li>
                    <li>Mobile</li> 
                </ul>
            </li>
        </ul>  
    </article>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina Home</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Home.png" alt="Imagem da pagina home do projeto">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina cadastrar usúario</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Cadastrar.png" alt="Imagem da pagina de cadastro do usúario do projeto">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina Login</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Login.png" alt="Imagem da pagina login do projeto">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina perfil usúario comum</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Perfil.png" alt="Imagem da pagina perfil do usúario comum">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina carros usúario comum</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Carros.png" alt="Imagem da pagina carros do usúario comum">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dialog reserva carro usúario comum</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/d_carros.png" alt="Imagem do dialog para reservar carro usúario comum">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina de carros reservados usúario comum</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Reservas.png" alt="Imagem da pagina de carros reservados usúario comum">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina de carros reservados usúario comum</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/p_Reservas_Reservados.png" alt="Imagem da pagina de carros reservados usúario comum">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dialog excluir reserva de carro usúario comum</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/Usuario/d_Reservas_Reservados.png" alt="Imagem do dialog excluir reserva de carro usúario comum">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <article>
        <p>Apartir de agora as imagens irão ser de um usuario ADM é o mesmo fluxo porém tem algumas funcionalidades extra como voce pode ver logo abaixo: </p> 
    </article>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina perfil administrador</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/p_Perfil_adm.png" alt="Imagem da pagina perfil Administrador">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina carros administrador</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/p_Carros_adm_completa.png" alt="Imagem da pagina carros Administrador">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dialog editar carro</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/d_Carros_Editar.png" alt="Imagem do dialog editar carro">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dialog excluir carro</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/d_Carros_Excluir.png" alt="Imagem do dialog excluir carro">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina reserva administrador</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/p_Reservas_adm.png" alt="Imagem da pagina reserva administrador">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina cadastrar / editar locadora de veiculo</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/p_locadora.png" alt="Imagem da pagina Pagina cadastrar / editar locadora de veiculo">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dialog editar locadora de veiculo</mat-card-title>
              <mat-card-subtitle>Projeto LocCar aluguel de veiculos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto LocCar/ADM/d_Locadora.png" alt="Imagem do dialog editar locadora de veiculo">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div class="back-to-top" href="#" (click)="irAoTopo()" ></div>
    
</section>


