<section>

    <h1>Projetos realizados Concluidos</h1>

    <article>
        <p>Aqui estão todos os projetos que realizei ate o atual momento, estarei sempre alimentando o sistema quando eu fizer um projeto novo</p>
    </article>

    <div class="divProjetos">

        <div class="divCard">
            <mat-card>

                <mat-card-title>LocCar</mat-card-title>
                
                <img src="../../assets/Projetos/CARDSPROJETOS/LocCarCard.png" alt="">
    
                <p>Data do Projeto:</p>
                <p>14/10/2022</p>
                
            </mat-card>
        </div>


        <mat-card>

            <mat-card-title>Locadora</mat-card-title>

            <img src="../../assets/Projetos/CARDSPROJETOS/LocadoraCard.png" alt="">
            
            <p>Data do Projeto:</p>
            <p>16/09/2022</p>

        </mat-card>



    </div>

    <div class="divProjetos">

        <mat-card>

            <mat-card-title>Sync Tur</mat-card-title>

            <img src="../../assets/Projetos/CARDSPROJETOS/SyncTurCard.png" alt="">

            <p>Data do Projeto:</p>
            <p>16/08/2022</p>

        </mat-card>



        <mat-card>

            <mat-card-title>Jogo Advinha</mat-card-title>
            
            <img src="../../assets/Projetos/CARDSPROJETOS/JogoCard.png" alt="">

            <p>Data do Projeto:</p>
            <p>16/07/2022</p>

        </mat-card>

        <a routerLink="../divina-fashion">
            <mat-card>

                <mat-card-title>Divina Fashion</mat-card-title>
                
                <img src="../../assets/Projetos/CARDSPROJETOS/DivinaCard.png" alt="">

                <p>Data do Projeto:</p>
                <p>16/06/2022</p>

            </mat-card>
        </a>

    </div>

</section>
