<section>

    <div>
        <h1>Projetos Concluídos</h1>
    </div>
    
    <div id="divArticle">
        <article>
            <p>Aqui estão os projetos que realizei durante meu percurso na área de tecnologia. Minha intenção é continuar alimentando esse portfólio com projetos novos.</p>
        </article>
    </div>

    <div class="divProjetos">

        <a routerLink="../cooperado">
            <mat-card>

                <!-- <mat-card-title>Sistema cooperado</mat-card-title> -->
                
                <img src="assets/Projetos/CARDSPROJETOS/CooperadoCard.png" alt="Logo do projeto">
                <br>
                <span>Data do Projeto:</span>
                <span>26/02/2023</span>
                
            </mat-card>
        </a>

        <a routerLink="../virtual-store">
            <mat-card>

                <!-- <mat-card-title>Virtual Store</mat-card-title> -->
                
                <img src="assets/Projetos/CARDSPROJETOS/VirtualStoreCard.png" alt="Logo do projeto">
                <br>
                <span>Data do Projeto:</span>
                <span>20/02/2023</span>
                
            </mat-card>
        </a>

        <a routerLink="../barber-shop">
            <mat-card>

                <!-- <mat-card-title>Barber Shop</mat-card-title> -->
                
                <img src="assets/Projetos/CARDSPROJETOS/barbershopCard.png" alt="Logo do projeto">
                <br>
                <span>Data do Projeto:</span>
                <span>21/12/2022</span>
                
            </mat-card>
        </a>

    </div>

    <div class="divProjetos">



        <a routerLink="../loc-car">
            <mat-card>

                <!-- <mat-card-title>LocCar</mat-card-title> -->
                
                <img src="assets/Projetos/CARDSPROJETOS/LocCarCard.png" alt="Logo do projeto">
                <br>
                <span>Data do Projeto:</span>
                <span>14/10/2022</span>
                
            </mat-card>
        </a>

        

        <a routerLink="../locadora">
            <mat-card>

                <!-- <mat-card-title>Locadora</mat-card-title> -->
    
                <img src="assets/Projetos/CARDSPROJETOS/LocadoraCard.png" alt="Logo do projeto">
                <br>
                <span>Data do Projeto:</span>
                <span>16/09/2022</span>
    
            </mat-card>
        </a>



        <a routerLink="../bolos-julia">
            <mat-card>

                <!-- <mat-card-title>BolosJúlia</mat-card-title> -->
    
                <img src="assets/Projetos/CARDSPROJETOS/BolosJuliaCard.png" alt="Logo do projeto">
                <br>
                <span>Data do Projeto:</span>
                <span>01/09/2022</span>
    
            </mat-card>
        </a>




    </div>

    <div class="divProjetos">

        <a routerLink="../sync-tur">
            <mat-card>

                <!-- <mat-card-title>Sync Tur</mat-card-title> -->
    
                <img src="assets/Projetos/CARDSPROJETOS/SyncTurCard.png" alt="Logo do projeto">
                <br>
                <span>Data do Projeto:</span>
                <span>16/08/2022</span>
    
            </mat-card>
        </a>



        <a routerLink="../jogo-advinha">
            <mat-card>

                <!-- <mat-card-title>Jogo Advinha</mat-card-title> -->
                
                <img src="assets/Projetos/CARDSPROJETOS/JogoCard.png" alt="Logo do projeto">
                <br>
                <span>Data do Projeto:</span>
                <span>16/07/2022</span>
    
            </mat-card>
        </a>


        <a routerLink="../divina-fashion">
            <mat-card>

                <!-- <mat-card-title>Divina Fashion</mat-card-title> -->
                
                <img src="assets/Projetos/CARDSPROJETOS/DivinaCard.png" alt="Logo do projeto">
                <br>
                <span>Data do Projeto:</span>
                <span>16/06/2022</span>

            </mat-card>
        </a>

    </div>

</section>
