section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    // background-color: #444;
    background-color: black;
    justify-content: space-evenly;
    font-family: 'Tilt Neon', cursive;
}

h1{
    margin-top: 2%;
    color: #8f3e9b;
    font-family: 'Tilt Neon', cursive;
}

#divArticle{
    display: flex;
    text-align: center;
    justify-content: center;
}

article{
    color: rgb(219, 186, 255);
    max-width: 600px;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Tilt Neon', cursive;
}

article p{
    font-size: large;
    line-height:2.0em;
    font-family: 'Tilt Neon', cursive;
}

.divProjetos{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;
}

mat-card{
    width: auto;
    height: auto;
    background-color: black; 
    border-radius: 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    justify-items: center;
    font-family: 'Tilt Neon', cursive;
    // margin-top: 1%;
}

mat-card span{
    font-size: 0.7rem;
}

mat-card img{
    width: 150px;
    height: 150px;
    // border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

mat-card:hover{
    border: 2px solid #dbbaff;
    border-radius: 0px;
    transition: all 0.3s ease-out;
    transform: translateY(-10px) scale(1.005) translateZ(0);
    // box-shadow: 0 24px 36px rgba(255, 255, 255, 0.11);
    box-shadow: 0 24px 36px rgb(219, 186, 255, 0.20);
    color: #dbbaff;
}

.divCard{
    display: flex;
    flex-direction: column;
    
}

a{
    text-decoration: none;
}

@media(max-width: 600px){

    .divProjetos{
        display: flex;
        flex-wrap: wrap;
    }

}

