<section>


    <h1>Projeto BolosJúlia</h1>

  <article>
    <p>Este projeto/desafio foi desenvolvido em um curso de formação angular para melhorar a habilidade em: <br></p> 
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>TypeScript
        <ul>
            <li>CRUD</li>
        </ul>
      </li>
      <li>JSON-server</li>
    </ul>  
  </article>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto BolosJúlia</mat-card-title>
        <mat-card-subtitle>Página Home parte 1</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Bolosjulia/PaginaHome1.png" alt="Imagem da pagina homeparte de cima da pagina">
      <mat-card-content>
        <p>
          Primeira parte da página home do Projeto, dividi em duas imagens para facilitar a visualização.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto BolosJúlia</mat-card-title>
        <mat-card-subtitle>Página Home continuação</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Bolosjulia/PaginaHome2.png" alt="Imagem da pagina home parte de baixo da pagina">
      <mat-card-content>
        <p>
          Segunda parte da página home do Projeto
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto BolosJúlia</mat-card-title>
        <mat-card-subtitle>Página Sobre</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Bolosjulia/PaginaSobre.png" alt="Imagem da pagina sobre do projeto BolosJúlia">
      <mat-card-content>
        <p>
          Página sobre o projeto BolosJúlia
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto BolosJúlia</mat-card-title>
        <mat-card-subtitle>Página Bolos sem consumo do JSON</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Bolosjulia/PaginaBolosSemJson.png" alt="Imagem da pagina bolos sem consumo do JSON">
      <mat-card-content>
        <p>
          Página bolos sem o consumo de um JSON.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto BolosJúlia</mat-card-title>
        <mat-card-subtitle>JSON do projeto</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Bolosjulia/Json.png" alt="Imagem do JSON de bolos">
      <mat-card-content>
        <p>
          JSON-server do projeto para o consumo dos bolos cadastrados.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto BolosJúlia</mat-card-title>
        <mat-card-subtitle>Página Bolos consumindo o JSON</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Bolosjulia/PaginaBolos.png" alt="Imagem da pagina bolos com JSON-server">
      <mat-card-content>
        <p>
          Página bolos com o JSON-server.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto BolosJúlia</mat-card-title>
        <mat-card-subtitle>Figma seguido</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/CARDSPROJETOS/FigmaBoloJulia.png" alt="Imagem do figma do projeto BolosJúlia">
      <mat-card-content>
        <p>
          O layout do projeto foi baseado neste Figma
        </p>
      </mat-card-content>
    </mat-card>

  </div>


  <div class="back-to-top" href="#" (click)="irAoTopo()" ></div> 


</section>
