
<section>

  <h1>Projeto OJOGO</h1>

  <article>
    <p>Este projeto o segundo projeto/desafio desenvolvido em um curso de formação angular para melhorar a habilidade com: <br></p> 
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Responsividade
        <ul>
          <li>Desktop</li>
          <li>Tablet</li>
          <li>Mobile</li> 
        </ul>
      </li>
    </ul>  
  </article>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto OJOGO</mat-card-title>
        <mat-card-subtitle>Página Home</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto JogoAdvinha/p_Home_inicio.png" alt="Imagem da pagina inicio do game">
      <mat-card-content>
        <p>
          Esta é a imagem do inicio do game
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto OJOGO</mat-card-title>
        <mat-card-subtitle>Inicio do Game</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto JogoAdvinha/p_Home_nick_intervalo.png" alt="Imagem do inicio do game">
      <mat-card-content>
        <p>
          Como mostra no retângulo vermelho, o usuário coloca o nick. <br>
          No retângulo azul seleciona o intervalo, possui 3 niveis de opções <br>
          Assim que os dois campos forem selecionados o nick do usuário apareçe para dar uma boas vindas ao usuário. <br>
          Ao clicar em começar o programa escolhe um número randômico de acordo com a opção escolhida pelo usuário.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto OJOGO</mat-card-title>
        <mat-card-subtitle>Iniciado o Game</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto JogoAdvinha/p_Home_chances.png" alt="Imagem do inicio do game">
      <mat-card-content>
        <p>
          No retângulo em vermelho esta o número que o usuário escolheu, assim que ele clicar em jogar o numero que ele colocou será comparado ao numero secreto randômico, nesta imagem o numero que foi escolhido é menor que o numero gerado, como mostra no retângulo em azul. <br>
          Ainda no retângulo azul o usuário consegue ver quantas tentativas ele possui. 
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto OJOGO</mat-card-title>
        <mat-card-subtitle>Game Over</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto JogoAdvinha/p_Home_Perdeu.png" alt="Imagem do game over do game">
      <mat-card-content>
        <p>
          Caso o usuário perder todas as chances que teve para acertar o numero, o jogo vai mostrar o numero randômico gerado no começo do jogo,
          exibirá uma mensagem para o usuário como esta do retângulo vermelho
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto OJOGO</mat-card-title>
        <mat-card-subtitle>Win</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto JogoAdvinha/p_Home_acertou.png" alt="Imagem do game quando acerta o palpite">
      <mat-card-content>
        <p>
          Quando o usuário acerta o palpite, o jogo exibe um texto de um parabéns para o usuário
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto OJOGO</mat-card-title>
        <mat-card-subtitle>Responsivo</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto JogoAdvinha/Responsivo.png" alt="Imagem do jogo responsivo">
      <mat-card-content>
        <p>
          Responsivo
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto OJOGO</mat-card-title>
        <mat-card-subtitle>Figma do projeto OJOGO</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/CARDSPROJETOS/FigmaOJOGO.png" alt="Imagem do figma do projeto">
      <mat-card-content>
        <p>
          O layout do projeto foi baseado neste Figma
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="back-to-top" href="#" (click)="irAoTopo()" ></div>  

</section>

