
<section>


    <h1>Sistema Cooperado</h1>

  <article>
    <p>Este projeto foi desenvolvido para praticar:<br></p> 
    <ul>
      <li>tabela</li>
      <li>matSteeper</li>
      <li>CRUD</li>
    </ul>  
  </article>


  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Sistema Cooperado</mat-card-title>
        <mat-card-subtitle>Home</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Cooperado/HomeCooperado.png" alt="Imagem da página home">
      <mat-card-content>
        <p>
          Página home - components: header / footer / side-nav
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sistema Cooperado</mat-card-title>
          <mat-card-subtitle>Cooperados cadastrados</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Cooperado/ReadCooperado.png" alt="Imagem da página cooperados cadastrados">
        <mat-card-content>
          <p>
            Componente de cooperados cadastrados, somente id, nome e cpf listado em uma tabela.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sistema Cooperado</mat-card-title>
          <mat-card-subtitle>MatStepper</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Cooperado/matSteeper.png" alt="Imagem da página matStepper">
        <mat-card-content>
          <p>
            Ao clicar em procurar cooperado, esta definido um routerlink para o component matSteeper, para consultar um cooperado por cpf.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sistema Cooperado</mat-card-title>
          <mat-card-subtitle>Validações</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Cooperado/cpfNull.png" alt="Imagem da página matStepper com validações">
        <mat-card-content>
          <p>
            Validação se esta vazio o input
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sistema Cooperado</mat-card-title>
          <mat-card-subtitle>Validações</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Cooperado/cpfNaoEncontrado.png" alt="Imagem da página matStepper com validações">
        <mat-card-content>
          <p>
            Validação se existe no banco de dados o cpf inputado
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sistema Cooperado</mat-card-title>
          <mat-card-subtitle>Cooperado localizado</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Cooperado/cpfValido.png" alt="Imagem dos dados do cooperado localizado">
        <mat-card-content>
          <p>
            Quando o cooperado é localizado, exibe os dados do cooperado.
            Para localizar o cooperado utilizei filter e map
          </p>
        </mat-card-content>
      </mat-card>

  </div>

  <div class="back-to-top" href="#" (click)="irAoTopo()" ></div> 

</section>