section{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #5a5959;
    background-color: black;
}

h1{
    color: #dbbaff;
    margin-top: 2%;
}

article{
    color: #bcbcbc;
}

mat-card-title{
    color: #dbbaff;
}

mat-card-content{
    color: #bcbcbc
}

.example-card {
    max-width: 600px;
    margin-bottom: 10%;
}

.example-header-image {
    background-image: url("../../../assets/Projetos/CARDSPROJETOS/LogoDivina.png");
    background-size:contain;
}
