
<section>

  <h1>Projeto Divina Fashion</h1>

  <article>
    <p>Este projeto foi o primeiro projeto desenvolvido em um curso de formação angular para melhorar a habilidade com: <br></p> 
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Responsividade
        <ul>
          <li>Desktop</li>
          <li>Tablet</li>
          <li>Mobile</li> 
        </ul>
      </li>
    </ul>  
    <p>O layout, cores e posições dos elementos deste projeto, foi feito seguindo exatamente um Figma disponibilizado pelo curso. </p>
  </article>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Divina Fashion</mat-card-title>
        <mat-card-subtitle>Pagina Home Desktop</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/P_Home.png" alt="Imagem pagina home">
      <mat-card-content>
        <p>Esta é a pagina home do projeto, aqui aprendi:</p>
        <ul>
          <li>Posicionar elementos</li>
          <li>Trabalhar com nav</li>
          <li>Trabalhar com header e footer</li>
          <li>Centralizar e alinhar elementos e textos</li>
          <li>Utilizar class em html para fazer os cards iguais</li>
        </ul>
        
      </mat-card-content>
    </mat-card>

  </div>

  <div>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Projeto Divina Fashion</mat-card-title>
      <mat-card-subtitle>Responsivo para Tablet</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Home_responsivo1.png" alt="Imagem reponsividade tablet">
    <mat-card-content>
      <p>
        Nesta imagem utilizei o tools do grome para mostrar os elementos se alinhando. <br>
        A imagem está em 646px simulando um tablet
      </p>
    </mat-card-content>
  </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Divina Fashion</mat-card-title>
        <mat-card-subtitle>Responsivo para Tablets</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Home_responsivo_2.png" alt="Imagem reponsividade tablet">
      <mat-card-content>
        <p>
          Aqui podemos ver que quando diminui o pixels do tools e ela vai se alinhando, <br>
          Nesta imagem ainda esta em pixels que classifica a um tablet 
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Divina Fashion</mat-card-title>
        <mat-card-subtitle>Responsivo para Celular</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Home_responsivo_2.png" alt="Imagem reponsividade celular">
      <mat-card-content>
        <p>
          Responsivo para celular. <br>
          Os elementos vão se alinhando conforme a diminuição dos pixels 
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Divina Fashion</mat-card-title>
        <mat-card-subtitle>Responsivo para Celular</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Home_responsivo_3.png" alt="Imagem reponsividade celular">
      <mat-card-content>
        <p>
          Assim quando a resolução fica na resolução mobile, <br>
          os cards ficam como flex-direction: collum.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Divina Fashion</mat-card-title>
        <mat-card-subtitle>Pagina Contato Desktop</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Contato.png" alt="Imagem da pagina contato desktop">
      <mat-card-content>
        <p>
          Resolução desktop <br>
          Pagina Contato com o footer na lateral direita, e um form do lado esquedo.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Divina Fashion</mat-card-title>
        <mat-card-subtitle>Pagina Contato tablet</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Contato_responsivo_1.png" alt=" imagem reponsividade tablet">
      <mat-card-content>
        <p>
          Assim que vai baixando a resolução no tools, o footer e o form vão se alinhando automaticamente ainda com o footer ao lado direito.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Divina Fashion</mat-card-title>
        <mat-card-subtitle>Pagina Contato Celular</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Contato_responsivo_2.png" alt="Imagem reponsividade celular">
      <mat-card-content>
        <p>
          Nesta imagem o header alinhado para o celular <br>
          O footer desce para a parte de baixo do form.
        </p>
      </mat-card-content>
    </mat-card>

  </div>


  <div class="back-to-top" href="#" (click)="irAoTopo()" ></div>  

</section>
