
<section>

    <h1>Projeto Divina Fashion</h1>

    <article>
        Este projeto foi desenvolvido em um curso de formação angular para melhorar a habilidade com: <br>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Responsividade
                <ul>
                    <li>Desktop</li>
                    <li>Tablet</li>
                    <li>Mobile</li> 
                </ul>
            </li>
        </ul>  
    </article>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina Home</mat-card-title>
              <mat-card-subtitle>Projeto Divina Fashion</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/P_Home.png" alt="Imagem pagina home">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina Home</mat-card-title>
              <mat-card-subtitle>Responsivo para Tablets</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Home_responsivo1.png" alt="Imagem reponsividade tablet">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsum repellat neque sint placeat ullam magni harum adipisci. Optio sequi necessitatibus voluptates quasi repellat! Quaerat, neque porro! Optio, harum minima.
                
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina Home</mat-card-title>
              <mat-card-subtitle>Responsivo para Tablets</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Home_responsivo_2.png" alt="Imagem reponsividade tablet">
            <mat-card-content>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore aut consequuntur velit cupiditate saepe, iure facere dicta iusto quasi, blanditiis sed, fugit vitae mollitia. Autem reiciendis maxime quos eaque. Deserunt.
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina Home</mat-card-title>
              <mat-card-subtitle>Responsivo para Celular</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Home_responsivo_2.png" alt="Imagem reponsividade celular">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, a vero dolores ex aliquid distinctio. Praesentium, nihil placeat vel doloribus quia blanditiis asperiores temporibus harum cumque exercitationem adipisci tempore rerum. 
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina Home</mat-card-title>
              <mat-card-subtitle>Responsivo para Celular</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Home_responsivo_3.png" alt="Imagem reponsividade celular">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, sint cum? Molestias neque, eos ipsa sit, magni nisi quisquam quibusdam laudantium deserunt labore consectetur necessitatibus. Labore est voluptate deserunt ut!
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina Contato</mat-card-title>
              <mat-card-subtitle>Pagina Contato Desktop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Contato.png" alt="Imagem da pagina contato desktop">
            <mat-card-content>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium possimus quibusdam laudantium exercitationem ullam doloremque quisquam recusandae minima, tenetur mollitia ut, reprehenderit delectus natus sed inventore rerum debitis quis nobis. 
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina Contato</mat-card-title>
              <mat-card-subtitle>Pagina Contato Desktop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Contato_responsivo_1.png" alt=" imagem reponsividade tablet">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum recusandae sint officia! Doloribus, vitae fugiat aliquam nihil maxime atque? Iste illo ratione, ducimus culpa odio blanditiis eveniet illum ipsum. 
              </p>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Pagina Contato</mat-card-title>
              <mat-card-subtitle>Pagina Contato Celular</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto Divina Fashion/p_Contato_responsivo_2.png" alt="Imagem reponsividade celular">
            <mat-card-content>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam unde iusto, debitis dicta mollitia maiores suscipit placeat! Quo, quae? Deleniti veritatis maiores doloribus cupiditate dolorum sunt repellat laboriosam optio non. 
              </p>
            </mat-card-content>
        </mat-card>

    </div>


    




</section>
