<section>

  <h1>Projeto Sync-Tur</h1>

  <article>
    <p>Este projeto/desafio foi o terceiro desenvolvido em um curso de formação angular para melhorar a habilidade com: <br></p>  
    <ul>
      <li>HTML
        <ul>
          <li>InnerHTML</li>
        </ul>
      </li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>TypeScript
        <ul>
          <li>form</li>
          <li>Validações</li>
        </ul>
      </li>

      <li>API
        <ul>
          <li>C - Criar Pacotes</li>
          <li>R - Ler Pacotes</li>
          <li>U - Atualizar Pacotes</li>
          <li>D - Excluir Pacotes</li>
        </ul>
      </li>
    </ul>  
  </article>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Sync-Tur</mat-card-title>
        <mat-card-subtitle>Pagina Home</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto SyncTour/p_home_semAPI.png" alt="Imagem pagina home sem consumo da API">
      <mat-card-content>
        <p>
          Imagem do projeto sem consumo da API 
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Sync-Tur</mat-card-title>
        <mat-card-subtitle>Projeto com API</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto SyncTour/p_home_ComAPI.png" alt="Imagem pagina home">
      <mat-card-content>
        <p>
          Imagem do projeto com o consumo de uma API e listando com o innerHTML
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Sync-Tur</mat-card-title>
        <mat-card-subtitle>Editando Pacotes</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto SyncTour/p_home_editar.png" alt="Imagem da pagina editando os pacotes">
      <mat-card-content>
        <p>
          Na imagem ao clicar no editar os dados sobem para o input para serem atualizados.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Sync-Tur</mat-card-title>
        <mat-card-subtitle>Validações dos campos</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto SyncTour/p_home_dataInvalida.png" alt="Imagem da validações dos campos do imput">
      <mat-card-content>
        <p>
          Caso o usuário selecione uma data invalida ou algum campo em branco uma mensagem aparece para avisar o usuário e não será cadastrado ate ele resolva as pendências.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Sync-Tur</mat-card-title>
        <mat-card-subtitle>Cadastrando pacote</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto SyncTour/p_home.png" alt="Imagem de um cadastro de pacote">
      <mat-card-content>
        <p>
          Cadastrando pacote na API. <br>
          Se caso o usuário quiser excluir o pacote da API ele pode clicar no excluir do pacote
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Sync-Tur</mat-card-title>
        <mat-card-subtitle>Figma do projeto</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/CARDSPROJETOS/FigmaSyncTur.png" alt="Imagem de um cadastro de pacote">
      <mat-card-content>
        <p>
          O layout do projeto foi baseado neste Figma
        </p>
      </mat-card-content>
    </mat-card>

  </div>


  <div class="back-to-top" href="#" (click)="irAoTopo()" ></div>  

</section>

