<section>

  <h1>Projeto Sync-Tur</h1>

  <article>
    <p>Este projeto foi desenvolvido em um curso de formação angular para melhorar a habilidade com: <br></p>  
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Responsividade
        <ul>
          <li>Desktop</li>
          <li>Tablet</li>
          <li>Mobile</li> 
        </ul>
      </li>
    </ul>  
  </article>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina Home</mat-card-title>
        <mat-card-subtitle>Projeto Sync-Tur</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto SyncTour/p_home_semAPI.png" alt="Imagem pagina home">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina Home</mat-card-title>
        <mat-card-subtitle>Projeto Sync-Tur</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto SyncTour/p_home_ComAPI.png" alt="Imagem pagina home">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina Home</mat-card-title>
        <mat-card-subtitle>Projeto Sync-Tur</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto SyncTour/p_home_editar.png" alt="Imagem pagina home">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina Home</mat-card-title>
        <mat-card-subtitle>Projeto Sync-Tur</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto SyncTour/p_home_dataInvalida.png" alt="Imagem pagina home">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pagina Home</mat-card-title>
        <mat-card-subtitle>Projeto Sync-Tur</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/Projetos/Imagens dos projetos/Projeto SyncTour/p_home.png" alt="Imagem pagina home">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati reiciendis optio aliquam. Tempora maxime assumenda sequi nihil ab accusamus quas neque odio laboriosam explicabo, fugit repellat corrupti ea ex!
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="back-to-top" href="#" (click)="irAoTopo()" ></div>  

</section>

