/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; background-color: black; font-family: Roboto, "Helvetica Neue", sans-serif; }



.back-to-top {
    background-color: #38322e;
    border-radius: 65px;
    bottom: 14px;
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
    color: #bc5fca;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 22px;
    width: 40px;
    z-index: 3;
    &::after {
        content: '▲';
        display: flex;
        justify-content: center;
        padding-left: 1px;
        padding-top: 10px;
    }
}

.spinner{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 998;
    background-color: rgba($color: #000000, $alpha: 0.3);
}

.snackbar-tema{
    background-color: rgb(241, 137, 241);
    color: rgb(67, 4, 139);
    // width: 300px;
    height: 50px;
    text-align: center;
    justify-content: center;
  }