<section>
    
    <h1 *ngIf="sexoUsuario == 'homem'" >Olá {{nomeUsuario}}, Seja Bem vindo ao meu portfólio</h1>
    <h1 *ngIf="sexoUsuario == 'mulher'" >Olá {{nomeUsuario}}, Seja Bem vinda ao meu portfólio</h1>
    <h1 *ngIf="sexoUsuario == 'semSexoDefinido'" >Olá {{nomeUsuario}}, Seja Bem vindx ao meu portfólio</h1>
    

    <article>
        <p> 
        Olá! eu me chamo Rafael Gasparetto, estou fazendo este projeto para facilitar a visualização de projetos feitos por mim,
        e aproveitando contarei um pouco mais sobre mim, minha experiencia, cursos, projetos e mais; 
        </p>
    </article>

    
    <div id="container">
        
        <a routerLink="../projetos">
            <mat-card id="card_projeto">
                <mat-card-title>Projetos</mat-card-title>   
                <img src="../../assets/img home/Projetos.png" alt="Venha conhecer meus projetos">
            </mat-card>
        </a>

        <mat-card>
            <mat-card-title>Apresentação</mat-card-title>
            <img src="../../assets/img home/img_apresentacao.png" alt="Olá, clique aqui para me conheçer melhor :)">  
        </mat-card>

        <mat-card>
            <mat-card-title>Currículo</mat-card-title>
            <img src="../../assets/img home/img_curriculo_home.png" alt="Clique aqui para visualizar meu Currículo">   
        </mat-card>
    
    </div>





</section>
