<section>



    <div id="divCentro">
        <img id="imgHome" src="assets/img-home/img-intro4.png">
        
    </div>

    <div id="divMsgHome">
        <mat-card id="txtHello">
            <h1 *ngIf="sexoUsuario == 'homem'" >Olá, {{nomeUsuario}}! <br> Seja bem-vindo ao meu portfolio</h1>
            <h1 *ngIf="sexoUsuario == 'mulher'" >Olá, {{nomeUsuario}}! <br> Seja bem-vinda ao meu portfolio</h1>
            <h1 *ngIf="sexoUsuario == 'semSexoDefinido'" >Olá, {{nomeUsuario}}! <br> Seja bem-vindX ao meu portfolio</h1>
        </mat-card>

        <!-- <mat-card id="txtHello" *ngIf="ingles==true && portugues==false" >
            <h1 *ngIf="sexoUsuario == 'homem'" >Olá, {{nomeUsuario}}! <br> Welcome to my portfolio</h1>
           <h1 *ngIf="sexoUsuario == 'mulher'" >Olá, {{nomeUsuario}}! <br> Welcome to my portfolio</h1>
            <h1 *ngIf="sexoUsuario == 'semSexoDefinido'" >Olá, {{nomeUsuario}}! <br> Welcome to my portfolio</h1>
        </mat-card>  -->
        
    </div>
    
    
    
    <div id="grade">

        <div id="divArticle">
            <article>
                <p> 
                    Meu nome é Rafael Gasparetto, criei esse portfolio para facilitar a visualização de projetos feitos por mim e, também, para contar um pouco sobre minha vida e minha trajetória até aqui. 
                </p>
            </article>
        </div>

        <div id="container">
            
            <a routerLink="../projetos">
                <mat-card class="cards">
                    <mat-card-title>Projetos</mat-card-title>   
                    <img src="assets/img-home/Projetos.gif" alt="Venha conhecer meus projetos">
                </mat-card>
            </a>
    
            <a routerLink="../apresentacao">
                <mat-card class="cards">
                    <mat-card-title>Sobre mim</mat-card-title>
                    <img src="assets/img-home/SobreMim.gif" alt="Olá, clique aqui para me conheçer melhor :)">  
                </mat-card>
            </a>
    
            <a routerLink="../curriculo">
            <mat-card class="cards">
                <mat-card-title>Currículo</mat-card-title>
                <img src="assets/img-home/Img de um curriculo.gif" alt="Clique aqui para visualizar meu Currículo">   
            </mat-card>
            </a>
        </div>

    </div>



</section>
