<section>
    <h1>Seja Bem vindx ao meu portfólio</h1>

    <article>
        <p> 
        Olá! eu me chamo Rafael Gasparetto, estou fazendo este projeto para facilitar a visualização de projetos feitos por mim,
        e aproveitando contarei um pouco mais sobre mim, minha experiencia, cursos, projetos e mais; 
        </p>
    </article>

    
    <div id="container">
        
        <mat-card> 
            <mat-card-title>Projetos</mat-card-title>
            <button>
                <p>Projetos</p>
            </button>
        </mat-card>
        

        <mat-card>
            <mat-card-title>Apresentação</mat-card-title>
            <button>
            <p>Apresentação</p>    
            </button>
        </mat-card>

        <mat-card>
            <mat-card-title>Currículo</mat-card-title>
            <button>
                <p>Currículo</p>
            </button>
        </mat-card>
    
    </div>





</section>
