section{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    // background-color: rgb(255, 255, 255);
    // background-color: #444;
    background-color: black;
    justify-content: space-evenly;
    justify-items: center;
    font-family: 'Tilt Neon', cursive;
}

#divCentro{
    width: auto;
    height: auto;
    // margin-top: 3%;
}

#divMsgHome{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15em;
    line-height: 2.5em;
    
}

#txtHello{
    display: flex;
    align-items: center;
    background-color: black;
    

}

#grade{
    text-align: center;
    line-height:2.5em;
    
}

#divArticle{
    display: flex;
    text-align: center;
    justify-content: center;
    
}

article{
    color: rgb(219, 186, 255);
    max-width: 600px;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Tilt Neon', cursive;
}

p{
    font-size: large;
    font-family: 'Tilt Neon', cursive;
}

#container{
    display: flex;
    justify-content: space-around;
    
}


h2{
color: white;

}

#imgHome{
    width: 100%;
    height: auto;
    
}

h1{
    color: #8f3e9b;
    font-family: 'Tilt Neon', cursive;
}

.cards{
    width: 150px;
    height: 150px;
    background-color: black; 
    border-radius:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.cards img{
    padding-bottom: 15px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}


.cards:hover{
    // border: 1px solid rgb(219, 186, 255);
    // border-radius: 100px;
    transition: all 0.5s ease-out;
    transform: translateY(-15px) scale(1.005) translateZ(0);
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.30);
    color: #8f3e9b;
    font-family: 'Tilt Neon', cursive;
    
}

a{
    text-decoration: none;
    
}


@media(max-width: 600px){
    #container{
      display: flex;
      flex-wrap: wrap;  
    }
}