
<section>


    <h1>Projeto Barber Shop</h1>

  <article>
    <p>Este projeto foi desenvolvido em um curso de Fullstack Javascript/React <br></p> 
    <ul>
      <li>Single Page</li>
      <li>HTML</li>
      <li>CSS</li>
    </ul>  
  </article>


  <div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Projeto Barber Shop</mat-card-title>
        <mat-card-subtitle>Página Home</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Barber Shop/Home.png" alt="Imagem da página home">
      <mat-card-content>
        <p>
          Pagina home com o H1 em position absolute e background-attachment
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Barber Shop</mat-card-title>
          <mat-card-subtitle>Página Sobre</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Barber Shop/About.png" alt="Imagem da página sobre">
        <mat-card-content>
          <p>
            Página sobre do projeto usando :after na div horários para preencher com os caracteres dot e pipe
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Barber Shop</mat-card-title>
          <mat-card-subtitle>Página Serviços</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Barber Shop/Services.png" alt="Imagem da página sobre">
        <mat-card-content>
          <p>
            Página serviços 
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Barber Shop</mat-card-title>
          <mat-card-subtitle>Página Galeria</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Barber Shop/Gallery.png" alt="Imagem da página galeria">
        <mat-card-content>
          <p>
            Página galeria, aprendendo a posicionar melhor as imagens
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Barber Shop</mat-card-title>
          <mat-card-subtitle>Página Agendamento</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Barber Shop/Appointment.png" alt="Imagem da página agendamento">
        <mat-card-content>
          <p>
            Página agendamento, aprendendo posicionar dois backgrounds.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Projeto Barber Shop</mat-card-title>
          <mat-card-subtitle>Página Localização</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Projetos/Imagens dos projetos/Projeto Barber Shop/Location.png" alt="Imagem da página localização">
        <mat-card-content>
          <p>
            Página localização, com mapa do google integrado.
          </p>
        </mat-card-content>
      </mat-card>

  </div>

  <div class="back-to-top" href="#" (click)="irAoTopo()" ></div> 

</section>